unqualified-search-registries = ["docker.io"]

[[registry]]
prefix   = "docker.io"
location = "{{ nexus_repository_and_port }}"
blocked  = false
{% if nexus_repository_http_method == "https" %}
insecure = false
{% else %}
insecure = true
{% endif %}

[[registry]]
prefix   = "quay.io"
location = "{{ nexus_repository_and_port }}"
blocked  = false
{% if nexus_repository_http_method == "https" %}
insecure = false
{% else %}
insecure = true
{% endif %}

[[registry]]
prefix   = "registry.k8s.io"
location = "{{ nexus_repository_and_port }}"
blocked  = false
{% if nexus_repository_http_method == "https" %}
insecure = false
{% else %}
insecure = true
{% endif %}

[[registry]]
prefix   = "ghcr.io"
location = "{{ nexus_repository_and_port }}"
blocked  = false
{% if nexus_repository_http_method == "https" %}
insecure = false
{% else %}
insecure = true
{% endif %}

[[registry]]
prefix   = "gcr.io"
location = "{{ nexus_repository_and_port }}"
blocked  = false
{% if nexus_repository_http_method == "https" %}
insecure = false
{% else %}
insecure = true
{% endif %}

[[registry]]
prefix   = "k8s.gcr.io"
location = "{{ nexus_repository_and_port }}"
blocked  = false
{% if nexus_repository_http_method == "https" %}
insecure = false
{% else %}
insecure = true
{% endif %}

[[registry]]
prefix   = "public.ecr.aws"
location = "{{ nexus_repository_and_port }}"
blocked  = false
{% if nexus_repository_http_method == "https" %}
insecure = false
{% else %}
insecure = true
{% endif %}
