---
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: longhorn-prometheus-servicemonitor
  namespace: {{ prometheus_namespace }}
  labels:
    name: longhorn-prometheus-servicemonitor
    release: {{ prometheus_release_name }}      # Отслеживается в Prometheus
spec:
  selector:
    matchLabels:
      app: longhorn-manager
  namespaceSelector:
    matchNames:
    - longhorn-system
  endpoints:
  - port: manager