# HA mode with autoscaling
redis-ha:
  enabled: true

controller:
  replicas: 1

server:
  autoscaling:
    enabled: true
    minReplicas: 2

  ingress:                    # SSL
    enabled: true
    ingressClassName: nginx
    annotations:
      nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
      nginx.ingress.kubernetes.io/backend-protocol: "HTTP"
    extraTls:
      - hosts:
        - {{ argocd_ingress_url }}
        # Based on the ingress controller used secret might be optional
        secretName: wildcard-tls

repoServer:
  autoscaling:
    enabled: true
    minReplicas: 2

applicationSet:
  replicas: 2

# SSL Termination at Ingress Controller
global:
  domain: {{ argocd_ingress_url }}

configs:
  params:
    server.insecure: true
